@font-face {
	font-family: barunpen;
	src: url(../font/NanumBarunpenR.ttf) format('truetype');
	font-style:normal;
	font-weight:normal;
}
@font-face {
	font-family: barunpen;
	src: url(../font/NanumBarunpenB.ttf) format('truetype');
	font-weight:bold;
}


body {
  font-family: barunpen, sans-serif;
  font-weight: 300;
}

a {
  color: black;
}
a:visited, a:focus, a:active, a:hover {
  color: black;
  text-decoration: none;
}

header {
	position: relative;
	padding-top: 15px;
}
header .logo {
	position: absolute;
	top: 20px;
}
header .header-panel {
}
header .header-panel .login-panel .nav-link {
  font-size: 12px;
  padding: 3px 5px;
}
header .header-panel .login-panel .nav-link:last-child {
  padding-right: 15px;
}
header .header-links {
  padding: 10px 0;
}
header .header-links > .logo {
  padding-left: 15px;
  padding-right: 15px;
}
header .header-links > .nav-menu {
  padding-left: 15px;
  padding-right: 15px;
}
header .header-links > .nav-menu .nav-item:last-child .nav-link {
  padding-right: 0;
}

.home main {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
main .main-image {
  width: 100%;
}
main .search-jumbotron {
  position: relative;
}
main .search-jumbotron .search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer .internal-links {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}
footer .library-info-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

nav .nav-item .nav-link {
  font-weight: 600;
}

.pagingInfo{
	align-content: center;
}
form-group{
	margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
//register
registerForm {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}
registerForm .h3 {
    margin-left: 8em;
    margin-bottom: 1em;
}


/* Book list */
tr.book-item > td > img {
	max-width:100px;
}

/* Book detail */
tbody.book-info .content > img{
	max-width: 200px;
	margin:20pxntdisplay: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #fca4a4;
}

.privacy-policy h4 span {
	font-weight: bold;
	display: inline-block;
	padding-bottom: 5px;
	border-bottom: 1px solid #fca4a4;
}
.privacy-policy .content section + section {
	margin-top: 60px;
}

.terms-of-use .content {
	margin-top: 30px;
}

/* Terms of Use */
.terms-of-use h5 span {
	font-weight: bold;
	display: inline-block;
	padding-bottom: 5px;
	border-bottom: 1px solid #fca4a4;
}

.terms-of-use section + section {
	margin-top: 60px;
}

/* Overriding Bootstrap Styles */
.page-link {
	color: #5d94cf;
}
.page-item.active .page-link {
	background-color: #5d94cf;
    border-color: #5d94cf;
}

.btn-primary {
	background-color: #5d94cf;
	border-color: #5d94cf;
}
.btn-primary:hover {
	background-color: #5689c0;
	border-color: #5689c0;
}

