@font-face {
	font-family: barunpen;
	src: url(../font/NanumBarunpenR.ttf) format('truetype');
	font-style:normal;
	font-weight:normal;
}
@font-face {
	font-family: barunpen;
	src: url(../font/NanumBarunpenB.ttf) format('truetype');
	font-weight:bold;
}

html, body {
	width:100%;
	height:100%;
}

#wrap {
	width:100%;
	height:100%;
}

body {
  font-family: barunpen, sans-serif;
  font-weight: 300;
  color: #3c3c3c;
}

a {
  color: black;
}
a:visited, a:focus, a:active, a:hover {
  color: black;
  text-decoration: none;
}

header {
	position: relative;
	padding: 35px 0;
}
header .logo {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
header .header-panel {
}
header .header-panel .login-panel .nav-link {
  font-size: 12px;
  padding: 3px 5px;
}
header .header-panel .login-panel .nav-link:last-child {
  padding-right: 15px;
}
header .header-links {
  padding: 10px 0;
}
header .header-links > .logo {
  padding-left: 15px;
  padding-right: 15px;
}
header .header-links > .nav-menu {
  padding-left: 15px;
  padding-right: 15px;
}
header .header-links > .nav-menu .nav-item:last-child .nav-link {
  padding-right: 0;
}

main {
}

.home main {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
main .main-image {
  width: 100%;
}
main .search-jumbotron {
  position: relative;
}
main .search-jumbotron .search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer .internal-links {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}
footer .library-info-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

nav .nav-item .nav-link {
  font-weight: 600;
}

/* TABLE */
.page.book-list .table td, 
.page.book-list .table th,
.page.post-page .table td,
.page.post-page .table th,
.page.bookSearch-ok .table td,
.page.bookSearch-ok .table th {
	vertical-align: middle;
	text-align: center;
}


.pagingInfo{
	align-content: center;
}
form-group{
	margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}


/* REGISTER VIEW */
.register-view {
	background-color:#eee;
}
.register-view header {
	padding: 60px 0;
}
.register-view header .logo {
	left: 50%;
	transform: translate(-50%, -50%);
}
.register-view .header-panel{
	display:none;	
}
.register-view .header-links {
	display:none;
}
.register-view footer{
	text-align:center;
	width: 50%;
}
.register-view footer .internal-links{
	margin:0 auto;
}

.register-view .form-group {
	padding: 5px;
	margin-bottom: 0;
}
.register-view .form-group + .form-group {
	border-top: 1px solid #eee;
}
.register-view .form-group:last-child {
	border-top: none;
}
.register-view .form-group .form-control {
	border: none;
}
.register-view .hint {
	display:none;
}
.register-view .hint.invalid {
	color: #ff7070;
}
.register-view .hint.valid {
	color: #5d94cf;
}
.register-view .hint.active {
	display:inline-block;
}
.register-view .form-group span.active, .register-view .form-group label {
	padding-left: 0.75rem;
}

#registerForm #qid {
	padding-left: 9px;
	margin-bottom: 5px;
}
#registerForm {
    background-color: white;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
}
registerForm {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}
registerForm .h3 {
    margin-left: 8em;
    margin-bottom: 1em;
}

/* .best-books-section */
.best-books-section {
	margin-top: 50px;
}
.best-books-section h2 {
	text-align: center;
}
.best-books-section h2 span {
	position:relative;
	border-bottom: 3px solid #eee;
}
.best-books-section h2 span:after {
	position: absolute;
	content: '';
	left:15px;
	right:-15px;
	bottom: -5px;
	height: 3px;
	background-color: #ff9ecb;
}
.best-books-section .best-book-item {
	cursor: pointer;
}
.best-books-section .best-book-item:hover img{
	transform: scaleX(1.1) scaleY(1.1);
	transition: all 0.3s;
} 
.best-books-section .book-info {
	padding: 30px;
	text-align:center;
}
best-books-section .book-info > div + div {
	margin-top: 15px;
}
.best-books-section .book-info .book-title{
	font-size: 30px;
}
.best-books-section .book-info .book-author{
	font-size: 18px;
}
.best-books-section .book-info .book-publisher {
	font-size: 18px;
}

/* Book list */
tr.book-item:hover {
	background-color:#eee;
	cursor:pointer;
}
tr.book-item > td > img {
	max-width:100px;
}

/* Post List */
tr.post-item {
}
tr.post-item:hover {	
	background-color: #eee;
	cursor:pointer;
}

/* Book detail */
tbody.book-info .content > img{
	max-width: 200px;
	margin:20px ;
	display: inline-block;
    padding-bottom: 5px;
}

/* Login */
#loginForm {
	
}

#loginForm .find-password{
	text-align:right;
	opacity: 0.6;
}

#loginForm .login-btn-wrapper button{
	width: 100%;
}

/* Privacy policy */
.privacy-policy h4 span {
	font-weight: bold;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 2px solid #e0e0e0;
}
.privacy-policy h4 span:after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    right: -20px;
    height: 2px;
    background-color: #fca4a4;
    bottom: -4px;
    left: 20px;
}
.privacy-policy .content section + section {
	margin-top: 60px;
}

.terms-of-use .content {
	margin-top: 30px;
}

/* Terms of Use */
.terms-of-use h5 span {
	font-weight: bold;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 2px solid #e0e0e0;
}

.terms-of-use h5 span:after{
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    right: -20px;
    height: 2px;
    background-color: #fca4a4;
    bottom: -4px;
    left: 20px;
}

.terms-of-use section + section {
	margin-top: 60px;
}



/* My Account */
.my-account .box{
	padding: 10px;
}
.my-account .box .box-content {
	position:relative;
	min-height: 300px;
	border: 1px solid #eee;
	border-radius: 5px;
	cursor:pointer;
}
.my-account .box .box-content:hover {
	background-color: #ff9ecb;
	transition: all .5s;
}
.my-account .box .box-content:hover a {
	color: white;
	transition: all .5s;
}
.my-account .box-content h2 {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}


/* Overriding Bootstrap Styles */
.page-link {
	color: #5d94cf;
}
.page-item.active .page-link {
	background-color: #5d94cf;
    border-color: #5d94cf;
}

.btn-primary {
	background-color: #5d94cf;
	border-color: #5d94cf;
}
.btn-primary:hover {
	background-color: #5689c0;
	border-color: #5689c0;
}
.btn-primary.disabled, .btn-primary:disabled {
	background-color: #587fa9;
	border-color: #587fa9;
}
.btn.disabled, .btn:disabled {
	opacity: 0.5;
}

/* Post page */
.detail-post-page .table{
	min-height: 300px;
}
.post-write .table td,
.post-write .table th {
	border-top: none;
}
.post-write tr.controls button {
	display: inline-block;
}
.post-write tr.controls button + button {
	margin-left: 5px;
}
.post-write tr.controls {
	text-align: center;
}

/* Book Detail Page */
.bookDetail img {
	width: 100%;
}

.bookDetail .title-wrapper > div,
.bookDetail .author-wrapper > div,
.bookDetail .publisher-wrapper > div {
	display: inline-block;
}
.bookDetail .caption {
	font-weight: bold;
	font-size: 20px;
}
.bookDetail .text {
	font-size: 20px;
	color: #747474;
}
.bookDetail [class$="-wrapper"] + [class$="-wrapper"]{
	margin-top: 20px;
}

.bookDetail .title-wrapper,
.bookDetail .author-wrapper,
.bookDetail .publisher-wrapper {
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;	
}
.bookDetail main {
	position: relative;
}
.bookDetail .controls {
	position: absolute;
	right: 15px;
	top: 0;
	cursor: pointer;
}
.bookDetail .controls form {
	display:none;
}

.bookDetail .controls span {
    border: 1px solid #3c3c3c;
    padding: 8px 12px;
    border-radius: 8px;
}
.bookDetail .controls span:hover {
	background-color: #3c3c3c;
	color: white;
}


/* detail-post-page */
.detail-post-page pre {
	font-family: inherit;
}

/* member find view */
.member-find-view form button[name="question_answer"] {
	padding-left: 1.0rem;
}
.member-find-view button[type="submit"]{
	width: 100%;
}


/* book update */
.book-update-page img {
	width: 100%;
}

.book-update-page .title-wrapper > div,
.book-update-page .author-wrapper > div,
.book-update-page .publisher-wrapper > div {
}
.book-update-page .caption {
	font-weight: bold;
	font-size: 20px;
}
.book-update-page .text {
	font-size: 20px;
	color: #747474;
}
.book-update-page [class$="-wrapper"] + [class$="-wrapper"]{
	margin-top: 20px;
}

.book-update-page .title-wrapper,
.book-update-page .author-wrapper,
.book-update-page .publisher-wrapper {
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;	
}
.book-update-page main {
	position: relative;
}
.book-update-page .controls {
	position: absolute;
	right: 15px;
	top: 0;
	cursor: pointer;
}
.book-update-page .controls form {
	display:none;
}

.book-update-page .controls span {
    border: 1px solid #3c3c3c;
    padding: 8px 12px;
    border-radius: 8px;
}
.book-update-page button[type="submit"]:hover {
	background-color: #3c3c3c;
	color: white;
}
